:root {
  --bg-color:#060E1A;
  --bg-color2:#292F4D;
  --bg-color3:#171E2B;
  --fg-color:#9290C3;
  --link-color:#B3B1FC;
}

body {
  background:var(--bg-color);
  color:var(--fg-color);
  font-family: "Noto Sans", sans-serif;
  font-size:14pt;
}

ul {
  list-style-type:none;
}
li {
  margin:0.5em;
}
li:nth-child(odd) {
  background:var(--bg-color3);
}
li:nth-child(even){
  background:var(--bg-color2);
}

a {
  color:var(--link-color);
}

h1 {
  text-align:center;
  font-size:26pt;
  width:100%;
}
h2 {
  text-align:center;
  font-size:24pt;
  width:100%;
}

input {
  background:var(--bg-color2);
  color:var(--fg-color);
}

select {
  background:var(--bg-color2);
  color:var(--fg-color);
}

#header, #footer {
  margin-top:2em;
  margin-left:auto;
  margin-right:auto;
  width:90%;
  height:10%;
}
#ingredients {
  margin:auto;
  width:50%;
}

#steps {
  margin:auto;
  width:60%;
}

#header > *, #footer > *{
  display:inline;
  margin-left:0.5em;
  margin-right:0.5em;
}

#searchbox {
  float:right;
}

#recipe_list_sort, #tags_list_sort{
  float:right;
  margin-right:2em;
  padding-left:1em;
}

#created_date {
  float:right;
}
#last_modified_date{
  float:right;
}
#github_link{
  float:left;
}

.recipe_taglist {
  font-size: 10pt;
}

.metadata_created, .metadata_modified{
  display:none;
}

.spacer {
  width:100%;
  height:2em;
}

.hline {
  width:100%;
  height:0.5em;
  background-color:var(--bg-color3);
}

