:root {
  --bg-color:#060E1A;
  --bg-color2:#292F4D;
  --bg-color3:#171E2B;
  --fg-color:#9290C3;
  --link-color:#B3B1FC;
}

body {
  background:var(--bg-color);
  color:var(--fg-color);
  font-family: "Noto Sans", sans-serif;
  font-size:14pt;
}
 
li {
  margin:0.5em;
}
li:nth-child(odd) {
  background:var(--bg-color3);
}
li:nth-child(even){
  background:var(--bg-color2);
}

a {
  color:var(--link-color);
}

h1 {
  text-align:center;
  font-size:26pt;
  width:100%;
}
h2 {
  text-align:center;
  font-size:24pt;
  width:100%;
}

input {
  background:var(--bg-color2);
  color:var(--fg-color);
}

#header {
  margin:auto;
  width:90%;
  height:10%;
}
#ingredients {
  margin:auto;
  width:50%;
}

#steps {
  margin:auto;
  width:60%;
}

#header > *{
  display:inline;
}

#searchbox {
  float:right;
}
